<?xml version="1.0" encoding="utf-8"?>

<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ctx-bulkdownload.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <DesktopBuildPackageLocation>$(PackageFileName)</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/$(WebApplicationName)</DeployIisAppPath>
    <PublishDatabaseSettings />
  </PropertyGroup>

  <ItemGroup>
  <MsDeployDeclareParameters Include="ClientId">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
            <Description>Value for ClientId here.</Description>
            <DefaultValue>5bb326f0-8756-4688-80dd-bb56b3d2696c</DefaultValue>
            <Value>5bb326f0-8756-4688-80dd-bb56b3d2696c</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters><MsDeployDeclareParameters Include="ClientSecret">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
            <Description>Value for ClientSecret here.</Description>
            <DefaultValue>d24Xn+UaOlZ/5vIdJ7ED3f0249oQXVCYd0rf8EywrXg=</DefaultValue>
            <Value>d24Xn+UaOlZ/5vIdJ7ED3f0249oQXVCYd0rf8EywrXg=</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters></ItemGroup>
</Project>